<%- include ('../partials/head') %>
<body class="body">
    <%- include ('../partials/header') %>
    <main class="main">
        <section class="container">
            <h1>FINCAS GOLF</h1>
        </section>
    </main>    
    <%- include ('../partials/footer') %>
</body>
</html>