<footer class="main-footer">
        <section id="footerLeft" class="footer">
            <div id="imgLogo">
                <a href="#"><img src="images/header/logo-fsv.jpg" alt="logo-san-vicente-golf" id="logo"></a>
            </div>
            <div id="tel-email">
                <div id="tel"><a href="#"><h4> <i class="fas fa-phone-alt"></i>  +54 9 11 6396-3250 </h4></a>  </div>
                <div id="email"><a href="#"><h4> <i class="fas fa-envelope-square"></i> fincasgolf@gmail.com </h4></a>  </div>
            </div>
        </section>
        <section id="footerCenter" class="footer">

        </section>
        <section id="footerRight" class="footer">
            <div id="titulo">
                <h3>nuestras comisiones</h3>
            </div>
            <div id="comisiones">
                <div class="comisiones" id="cGolf">
                    <h4><a class="instagram" href="#"><i class="fab fa-instagram"></i></a><a class="youtube" href="#"><i class="fab fa-youtube"></i></a> comisión de golf</h4>
                </div>
                <div class="comisiones" id="cRecreacion">
                    <h4><a href="#"><i class="fab fa-instagram"></i></a><a href="#"><i class="fab fa-youtube"></i></a> comisión de recreación</h4>
                </div>
                <div class="comisiones" id="cForestacion">
                    <h4><a class="instagram" href="#"><i class="fab fa-instagram"></i></a><a class="youtube" href="#"><i class="fab fa-youtube"></i></a> comisión de forestación</h4>
                </div>
            </div>
        </section>

</footer>