<header class="mainHeader">
    <section class="containerHeader">
        <section class="leftHeader"></section>
        <section class="rightHeader">
            <a href="#"><div class="headerIcon" id="pronostico"><i class="fas fa-cloud-sun"></i></div></a>
            <a href="#"><div class="headerIcon" id="ubicacion"><i class="fas fa-map-marker-alt"></i></div></a>
            <a href="#"><div class="headerIcon" id="login"><i class="fas fa-sign-in-alt"></i></div></a>
        </section>
    </section>
</header>